In [ ]:
data = [1533.51, 1535.08, 1552.11, 1564.3, 1563.88, 1596.03, 1565.68, 1557.87]
x_t = (
    lambda t_minus3, t_minus2, t_minus1: 0.75 * t_minus1
    + 0.2 * t_minus2
    + 0.05 * t_minus3
)