# This is not good made and wrong. redo it

In [2]:
import pandas as pd#

In [249]:
ENTSCHEIDUNG="entscheidung"
NUMMER="nummer"
columns=[NUMMER,"bekannt","kindergerecht","erw.-gerecht","zuwachs","günstig",ENTSCHEIDUNG]
data={
    NUMMER:[1,2,3,4,5,6,7,8],
    "bekannt":[1,1,1,0,0,1,0,0],
    "kindergerecht":[1,0,1,0,1,0,0,1],
    "erw.-gerecht":[1,1,0,1,1,1,1,0],
    "zuwachs":[0,1,0,0,0,1,1,1],
    "günstig":[0,0,1,1,0,1,1,0],
    ENTSCHEIDUNG:[1,0,1,1,0,1,0,0]}

In [239]:
df = pd.DataFrame(data)
df

,nummer,bekannt,kindergerecht,erw.-gerecht,zuwachs,günstig,entscheidung
0,1,1,1,1,0,0,1
1,2,1,0,1,1,0,0
2,3,1,1,0,0,1,1
3,4,0,0,1,0,1,1
4,5,0,1,1,0,0,0
5,6,1,0,1,1,1,1
6,7,0,0,1,1,1,0
7,8,0,1,0,1,0,0

In [ ]:
df.append(new_data,ignore_index=True)

In [215]:
def _get_prior(df,column):
    return df.groupby(column).size().div(len(df))

In [216]:
def get_likelihood(df, key_test, key_result):
    prior = _get_prior(df,key_result)
    return df.groupby([key_result, key_test]).size().div(len(df)).div(prior)

In [255]:
sum(df[ENTSCHEIDUNG])/len(df)

0.5

In [257]:
JA=1; NEIN=0
wahrscheinlichkeiten=[]
for schlüssel in df:
    if schlüssel==NUMMER or schlüssel==ENTSCHEIDUNG: continue
    likelihood=get_likelihood(df,schlüssel,ENTSCHEIDUNG)
    data={"key":schlüssel+' | Ja',JA:likelihood[JA][1],NEIN:likelihood[NEIN][1]}
    wahrscheinlichkeiten.append(data)
total={"key":ENTSCHEIDUNG,JA:sum(df[ENTSCHEIDUNG])/len(df),NEIN:1-sum(df[ENTSCHEIDUNG])/len(df)}
wahrscheinlichkeiten.append(total)
p=pd.DataFrame(wahrscheinlichkeiten)
p

                  key     1     0
0        bekannt | Ja  0.75  0.25
1  kindergerecht | Ja  0.50  0.50
2   erw.-gerecht | Ja  0.75  0.75
3        zuwachs | Ja  0.25  0.75
4        günstig | Ja  0.75  0.25
5        entscheidung  0.50  0.50

In [251]:
new_data=[None,1,0,1,0,0]
new_data={key:value for key,value in zip(columns,new_data)}
new_data[NUMMER]=max(df[NUMMER])+1

In [252]:
new_data

{'nummer': 9,
 'bekannt': 1,
 'kindergerecht': 0,
 'erw.-gerecht': 1,
 'zuwachs': 0,
 'günstig': 0}

In [261]:
def get_entscheidung(p, data):
    result=1
    for key in data:
        if key==NUMMER: continue
        print (key, end=" ")
        row = p.loc[p['key'] == key+" | Ja"]
        print(float(row[data[key]]))
        result= result * float(row[data[key]])
    return result
get_entscheidung(p,new_data)

bekannt 0.75
kindergerecht 0.5
erw.-gerecht 0.75
zuwachs 0.75
günstig 0.25

0.052734375